{% if shipping_rules %}
<div class="shipping-methods-list frappe-card mb-3 p-5">
	<h6>{{ _("Select a shipping method") }}</h6>

	{% set current_shipping_method = doc.shipping_rule or "" %}

	{% for method in shipping_rules %}
	{% set name = method.name %}
	{% set input_id = "shipping_method_" ~ name |e %}
	{% set estimated_cost = shipping_estimates.get(name) if shipping_estimates else "" %}
	{% set label = method.label or method.name or _("None") %}

	<label for="{{ input_id }}">
		<input
			type="radio"
			name="shipping"
			id="{{ input_id }}"
			value="{{ name |e }}"
			{% if name == current_shipping_method %}checked{% endif %}
			{% if estimated_cost == "not applicable" %}disabled{% endif %}
		/>

		<span class="estimated-cost">
			{% if estimated_cost == "not applicable" %}
				{{ _("Not Applicable") |e }}
			{% else %}
				{{ estimated_cost |e }}
			{% endif %}
		</span>

		{{ label |e }}

		{% if method.description %}
			<div class="description">{{ method.description }}</div>
		{% endif %}
	</label>
	{% endfor %}
</div>
{% endif %}
