h6 {
	color: var(--blue-400);
}

.frappe-card {
	border-radius: 0;
}

.booking-credit-dashboard {
	border-bottom: 1px solid var(--border-color);
}

.booking-credit-dashboard:not(:first-child) {
	margin: 1rem 0;
}