{% extends "templates/web.html" %}

{% block title %} {{ _("Checkout") }} {% endblock %}

{% block header %}<h3 class="checkout-cart-header mt-2 mb-6">{{ _("Checkout") }}</h3>{% endblock %}

{% block header_actions %}
{% endblock %}

{% block page_content %}

{% if doc.items %}
<div class="cart-container">
	<div class="row m-0">
		<!-- Left section -->
		<div class="col-md-8">
			<div class="cart-addresses frappe-card p-5 mb-4">
				{% include "templates/includes/cart/cart_address.html" %}
			</div>

			<a class="btn btn-default shadow-none btn-xs back-to-cart" href="/cart">
				<svg class="icon icon-xs">
					<use class="" href="#icon-arrow-left"></use>
				</svg>
				<span>{{ _("Edit Cart") }}</span>
			</a>
		</div>

		<!-- Right section -->
		<div class="col-md-4 cart-sticky-sidebar cart-summary">
			{% include "templates/includes/cart/cart_summary.html" %}
		</div>
	</div>
</div>
{% else %}
<div class="cart-empty frappe-card">
	<div class="cart-empty-state">
		<img src="/assets/erpnext/images/ui-states/cart-empty-state.png" alt="Empty State">
	</div>
	<p class="cart-empty-message mt-4">{{ _('No checkout available') }}</p>

	<div class="continue-shopping-container">
		<a class="btn btn-primary mr-2 font-md btn-continue-shopping" href="/all-products">
			{{ _('Continue Shopping') }}
		</a>
	</div>
</div>
{% endif %}

{% endblock %}

{% block base_scripts %}
<!-- js should be loaded in body! -->
{{ super() }}
{{ include_script("controls.bundle.js") }}
{{ include_script("dialog.bundle.js") }}

<script>Object.assign(frappe.boot, {
	link_title_doctypes: {{ link_title_doctypes }}
})
</script>
{% endblock %}