{% if doc.status!="Cancelled" %}
<a href="/projects?project={{ doc.name | urlencode }}" class="web-list-item transaction-list-item">
	<div class="row w-100">
		<div class="col-xs-4 project-link">
				<div>{{ doc.project_name }}</div>
				<span class="text-muted">{{ doc.name }}</span>
		</div>
		<div class="col-xs-3 text-center">
			{% if doc.percent_complete %}
			{% set pill_class = "green" if doc.percent_complete | round == 100 else
				"orange" %}
			<div class="ellipsis">
				<span class="indicator-pill {{ pill_class }} filterable ellipsis">
				<span>{{ frappe.utils.cint(doc.percent_complete) }}
					%</span>
				</span>
			</div>
			{% else %}
			<span class="indicator-pill {{ "orange" if doc.status=="Open" else "darkgrey" }}">
				{{ _(doc.status) }}</span>
			{% endif %}
		</div>
		<div class="col-xs-2 project-users">
			{% if doc["_assign"] %}
				{% set assigned_users = json.loads(doc["_assign"])%}
				{% for user in assigned_users %}
					{% set user_details = frappe
					.db
					.get_value("User", user, [
						"full_name", "user_image"
					], as_dict = True) %}
					{% if user_details.user_image %}
					<span class="avatar avatar-small" style="width:32px; height:32px;" title="{{ user_details.full_name }}">
						<img src="{{ user_details.user_image }}">
					</span>
					{% else %}
					<span class="avatar avatar-small" style="width:32px; height:32px;" title="{{ user_details.full_name }}">
						<div class='standard-image' style="background-color: #F5F4F4; color: #000;">
						{{ frappe.utils.get_abbr(user_details.full_name) }}
						</div>
					</span>
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>
		<div class="col-xs-3 text-right small text-muted project-expected-dates">
			{% if doc.expected_start_date and doc.expected_end_date %}
				{{ frappe.utils.format_date(doc.expected_start_date) }} - {{ frappe.utils.format_date(doc.expected_end_date) }}
			{% elif doc.expected_end_date %}
				{{ _("Ends") }} {{ frappe.utils.format_date(doc.expected_end_date) }}
			{% elif doc.expected_start_date %}
				{{ _("Starts") }} {{ frappe.utils.format_date(doc.expected_end_date) }}
			{% endif %}
		</div>
	</div>
	</a>
{% endif %}
