{% if doc.taxes %}
<tr class="tax-row">
	<td class="text-right" colspan="2">
		{{ _("Net Total") }}
	</td>
	<td class="text-right">
		{{ doc.get_formatted("net_total") }}
	</td>
</tr>
{% endif %}

{% for d in doc.taxes %}
	{% if d.base_tax_amount > 0 %}
	<tr class="tax-row">
		<td class="text-right" colspan="2">
			{{ d.description }}
		</td>
		<td class="text-right">
			{{ d.get_formatted("base_tax_amount") }}
		</td>
	</tr>
	{% endif %}
{% endfor %}

<tr class="tax-row">
	<th class="text-right" colspan="2">
		{{ _("Grand Total") }}
	</th>
	<th class="text-right">
		{{ doc.get_formatted("grand_total") }}
	</th>
</tr>
