.custom {
	display: inline-flex;
	background-color: transparent;
	box-shadow: none;
	padding: 0;
}

.custom .section-body {
	display: flex !important;
	padding: 0 !important;
}

.item-booking-card {
	border-radius: var(--border-radius-md);
	box-shadow: var(--card-shadow);
	margin: 1rem;
	cursor: pointer;
	border: 1px solid var(--gray-300);
}

.item-booking-card .right-body {
	padding: var(--padding-sm);
	background-color: var(--card-bg);
	border-top-right-radius: var(--border-radius-md);
	border-bottom-right-radius: var(--border-radius-md);
	min-width: 100px;
	border-left: 1px solid var(--gray-300);
}

.item-booking-card .left-title {
	padding: 0 0.8em;
}